.DiaryEditor {
  border: 1px solid #2ac1bc;
  text-align: center;
  padding: 20px;
  color: #2ac1bc;
  font-weight: 900;
}

.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  border: 1px solid #2ac1bc;
  width: 500px;
  padding: 10px;
}

.DiaryEditor textarea {
  height: 150px;
}

.DiaryEditor select {
  border: 1px solid #2ac1bc;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryEditor button {
  width: 500px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  background-color: #2ac1bc;
  color: white;
  font-weight: bold;
  border: 1px solid white;
}

.DiaryList {
  border: 1px solid #2ac1bc;
  color: #2ac1bc;
  padding: 20px;
  margin-top: 20px;
}

.DiaryList div {
  color: white;
}

.DiaryList h2 {
  text-align: center;
}

.DiaryItem {
  background-color: #2ac1bc;
  margin-bottom: 10px;
  padding: 20px;
}

.DiaryItem .info {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.DiaryItem .date {
  color: black;
}
.DiaryItem .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
